/* Write your style here */
.ulStyle {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.liStyle {
  text-align: center;
}

.imgStyle {
  width: 50%;
  position: center;
}

.book-read {
  background-color: green;
}

.book-not-read {
  background-color: red;
}
